<div class="container">
  <!-- Generated template for the LessonHeaderComponent component -->
  <h1>
    {{ lesson.title }}
  </h1>
  <ion-chip class="chips" *ngFor="let chip of lesson.chips">
    <ion-label>{{ chip }}</ion-label>
  </ion-chip>
  <h2 class="date">{{ lesson.date.toDateString() }}</h2>
  <h3 class="time">{{ lesson.date.toTimeString() }}</h3>
  <!-- How can I only get it to display the bar in between.. -->
  <span class="tags" *ngFor="let tag of lesson.tags">{{ tag }} | </span>
  <br>
  <span class="review">
    <!-- Have a clever way to display each star depending on the score? -->
    <ion-icon name="star-outline" color="gold"></ion-icon>
    <ion-icon name="star-outline" color="gold"></ion-icon>
    <ion-icon name="star-outline" color="gold"></ion-icon>
    <ion-icon name="star-outline" color="gold"></ion-icon>
    <ion-icon name="star-outline" color="gold"></ion-icon>
    {{ lesson.reviewCount }}
  </span>
</div>
